.item {
    width: 500px;
    height: 100%;
    display: block;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background: white;
    margin: 20px 0 0 0;
}

.item-button {
    float: right;
}

.item :first-child {
    margin-right: 10px;
}
